<mat-icon *ngIf="rank >= 1" class="gold-color">star</mat-icon>
<mat-icon *ngIf="rank >= 2" class="gold-color">star</mat-icon>
<mat-icon *ngIf="rank >= 3" class="gold-color">star</mat-icon>
<mat-icon *ngIf="rank >= 4" class="gold-color">star</mat-icon>
<mat-icon *ngIf="rank >= 5" class="gold-color">star</mat-icon>

<mat-icon *ngIf="rank < 1" class="gray-color">star</mat-icon>
<mat-icon *ngIf="rank < 2" class="gray-color">star</mat-icon>
<mat-icon *ngIf="rank < 3" class="gray-color">star</mat-icon>
<mat-icon *ngIf="rank < 4" class="gray-color">star</mat-icon>
<mat-icon *ngIf="rank < 5" class="gray-color">star</mat-icon>