mat-form-field.input-control {
    width: 100%;
}

mat-divider {
    margin: 5px 0;
}

button#newBook {
    display: block;
    margin-left: auto;
    margin-right: 0;
}

#nothingSelectedlbl {
    margin: 70px 0;
}